
.textInAnimation{
    animation: textInAnimation 1s ease 0s 1 normal forwards;
}

.image-container {
    margin-bottom: -100px; /* Puedes ajustar el espacio inferior según tus necesidades */
}


@keyframes textInAnimation {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}