
.accordionInAnimation{
    animation: accordionInAnimation 1s ease 0s 1 normal forwards;
}

.image-container {
    margin-bottom: 100px;
}

@keyframes accordionInAnimation {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}